http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/history/name/Ursus%20maritimus/region/europe?token=bfad704e2dc10e81ef289d81edae67217a665d088b67db45172375304ec9659a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Ursus maritimus","region_identifier":"europe","result":[{"year":"2007","code":"VU","category":"Vulnerable"}]}'
  recorded_at: 2018-03-02 22:08:34 GMT
  recorded_with: vcr/0.0.7.9314
