http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/synonym/Loxodonta%20africana?token=bfad704e2dc10e81ef289d81edae67217a665d088b67db45172375304ec9659a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"loxodonta africana","count":2,"result":[{"accepted_id":12392,"accepted_name":"Loxodonta
        africana","authority":"(Blumenbach, 1797)","synonym":"Loxodonta cyclotis","syn_authority":"Matschie,
        1900"},{"accepted_id":12392,"accepted_name":"Loxodonta africana","authority":"(Blumenbach,
        1797)","synonym":"Elephas africana","syn_authority":"Blumenbach, 1797"}]}'
  recorded_at: 2018-03-02 22:09:54 GMT
  recorded_with: vcr/0.0.7.9314
