http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/threats/species/name/Fratercula%20arctica?token=bfad704e2dc10e81ef289d81edae67217a665d088b67db45172375304ec9659a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"1560526344"'
    body:
      encoding: UTF-8
      string: '{"name":"Fratercula arctica","result":[{"code":"11.1","title":"Habitat
        shifting & alteration","timing":"Ongoing","scope":"Whole (>90%)","severity":"Slow,
        Significant Declines","score":"Medium Impact: 7","invasive":null},{"code":"11.3","title":"Temperature
        extremes","timing":"Ongoing","scope":"Unknown","severity":"Unknown","score":"Unknown","invasive":null},{"code":"11.4","title":"Storms
        & flooding","timing":"Ongoing","scope":"Unknown","severity":"Rapid Declines","score":"Unknown","invasive":null},{"code":"11.5","title":"Other
        impacts","timing":"Ongoing","scope":"Unknown","severity":"Unknown","score":"Unknown","invasive":null},{"code":"2.3","title":"Livestock
        farming & ranch[...]
